# Arquivos de configuração específicos do IntelliJ IDEA
.idea/

# Arquivos gerados pelo Maven
target/

# Logs e arquivos temporários
log/
logs/
*.log
*.log.*
*.tmp
*.tmp.*

# Arquivos de compilação Java
*.class

# Arquivos de configuração do Maven
mvnw
mvnw.cmd
.mvn/
.DS_Store